beautifulsoup4==4.6.0
click==6.7
Flask==0.12.2
Flask-HTTPAuth==3.2.3
Flask-JWT==0.3.2
gunicorn==19.1.0
hanziconv==0.3.2
itsdangerous==0.24
Jinja2==2.9.6
lxml==3.8.0
MarkupSafe==0.23
mysql-connector-python==2.0.4
PasteDeploy==1.5.2
pony==0.7.2
PyJWT==1.4.2
PyMySQL==0.7.9
requests==2.14.2
Werkzeug==0.12.2
